# Godot 4+ specific ignores
.godot/
assets/data/weeks/
assets/images/ui/skins/default/hold this/
assets/images/icons/peaks/
assets/songs/*
!assets/songs/test/
!assets/songs/tutorial/
!assets/songs/bopeebo/
!assets/songs/fresh/
!assets/songs/dadbattle/
!assets/songs/spookeez/
!assets/songs/south/
!assets/songs/monster/
!assets/songs/pico/
!assets/songs/philly-nice/
!assets/songs/blammed/
!assets/songs/satin-panties/
!assets/songs/high/
!assets/songs/milf/
!assets/songs/cocoa/
!assets/songs/eggnog/
!assets/songs/winter-horrorland/
!assets/songs/senpai/
!assets/songs/roses/
!assets/songs/thorns/
!assets/songs/darnell/
!assets/songs/lit-up/
!assets/songs/2hot/
!assets/songs/blazin/
assets/data/characters/old/
export_presets.cfg
